@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ItemOrder

<h3>Edit Student</h3>

<form asp-controller="ItemOrder" asp-action="Edit" method="post">
    <label asp-for="ItemId">Item</label>
    <input type="number" asp-for="ItemId" class="form-control" />
    <br />
    <label asp-for="SupplierId"></label>
    <input type="number" asp-for="SupplierId" class="form-control" />
    <br />
    <label asp-for="Quantity"></label>
    <input type="number" asp-for="Quantity" class="form-control" />
    <br />
    <label asp-for="OrderDate"></label>
    <input type="datetime" asp-for="OrderDate" class="form-control" />
    <br />

    <a asp-controller="ItemOrder" asp-action="Index" class="btn btn-primary">
        Back
    </a>
    <input type="submit" class="btn btn-success" value="Save Changes" />
</form>
